arrow==0.6.0
beautifulsoup4==4.3.2
gnureadline==6.3.3
html5lib==1.0b3
indeed==0.0.4
ipython==3.1.0
lxml==3.4.4
memory-profiler==0.32
numpy==1.9.2
oauthlib==0.7.2
objgraph==2.0.0
pandas==0.16.1
psutil==2.2.1
psycopg2==2.6.1
Pympler==0.4.1
python-dateutil==2.4.2
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.5.0
scikit-learn==0.16.1
scipy==0.16.0
six==1.9.0
sklearn==0.0
SQLAlchemy==1.0.4
xlrd==0.9.3
yelpapi==1.3
